:root {
	--font:  'Inconsolata', monospace;
	--white: #fff;
	--black-100: #292b2b;
	--black-200: #343c3c;
	--black-300: #767676;
	--gold-100: #b79106;
	--gold-200: #f9ce2c;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	height: 100%;
}

body {
	background-color: var(--black-100);
	color: var(--white);
	font-family: var(--font);
	font-weight: 400;
	font-size: 20px;
	user-select: none;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 8px;
}

ul {
	list-style: none;
}