:root {
	--font:  'Inconsolata', monospace;
	--border-radius: 2px;
	--white: #fff;
	--gray-100: hsl(192, 7%, 16%);
	--gray-200: hsl(192, 7%, 22%);
	--gray-300: hsl(192, 7%, 31%);
	--gray-400: hsl(192, 7%, 44%);
	--gray-500: hsl(192, 7%, 51%);
	--gray-600: hsl(192, 7%, 81%);
	--red-100: hsl(3, 60%, 37%);
	--red-200: hsl(3, 60%, 82%);
	--blue-100: hsl(192, 80%, 35%);
	--blue-200: hsl(192, 80%, 41%);
	--yellow-100: hsl(55, 89%, 79%);
	--green-100: hsl(85, 40%, 53%);
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	height: 100%;
}

body {
	background-color: var(--gray-100);
	color: var(--white);
	font-family: var(--font);
	font-weight: 400;
	font-size: 20px;
	user-select: none;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 8px;
}

ul {
	list-style: none;
}

li:not(:last-child) {
	margin-bottom: 4px;
}