:root {
	--font:  'Inconsolata', monospace;
	--header-height: 64px;
	--footer-height: 96px;
	--border-radius: 2px;
	--downward-box-shadow: 0px 1px 2px hsla(0, 0%, 0%, .2);
	--white: #fff;
	--gray-50: hsl(192, 10%, 12%);
	--gray-100: hsl(192, 10%, 16%);
	--gray-200: hsl(192, 10%, 22%);
	--gray-300: hsl(192, 10%, 31%);
	--gray-400: hsl(192, 10%, 44%);
	--gray-500: hsl(192, 10%, 51%);
	--gray-600: hsl(192, 10%, 81%);
	--red-100: hsl(3, 60%, 37%);
	--red-200: hsl(3, 60%, 82%);
	--blue-100: hsl(192, 70%, 35%);
	--blue-200: hsl(192, 70%, 41%);
	--blue-300: hsl(192, 70%, 46%);
	--yellow-100: hsl(55, 89%, 79%);
	--green-100: hsl(85, 40%, 53%);
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	height: 100%;
}

body {
	background-color: var(--gray-100);
	color: var(--white);
	font-family: var(--font);
	font-weight: 400;
	font-size: 20px;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul {
	list-style: none;
}

li:not(:last-child) {
	margin-bottom: 4px;
}
